/* Requisito 2 (Adicione à página uma paleta contendo quatro cores distintas)*/
/* Requisito 3 (Adicione a cor preta como a primeira cor da paleta de cores) */
.um {
    display: inline-block;
    background-color: rgb(0, 0, 0);
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin: 5px;
}

.dois {
    display: inline-block;
    background-color: rgb(255, 0, 0);
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin: 5px;
}

.tres {
    display: inline-block;
    background-color: rgb(0, 255, 0);
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin: 5px;
 }

 .quatro {
    display: inline-block;
    background-color: rgb(0, 0, 255);
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin: 5px;
 }

#pixel-board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 280px;
    margin-top: 10px;
}
/* Requisito 7 (Faça com que cada pixel do quadro tenha largura e altura de 40 pixels e borda preta de 1 pixel de espessura)*/
 .pixel {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    border: 1px solid black;
    margin: 5px;
 }